
<div class="chat-container">
  <div  class="content-wrap" style="background-image: url('assets/images/background.png'); background-position: center;background-repeat: no-repeat;
  background-size: cover;">
    <div class="header">
      <img src="assets/images/logo.png" class="logo-img">
      <div class="userDetails">
        <p class="rightText"><img src="assets/images/menu.png" class="menu-icon"></p>
      </div>
    </div>
    <div #scrollMe style ="scroll-behavior: smooth;" class="body-container" >

      <!-- <div class='loader' *ngIf='showLoader'>
        <div class="row loader-style">
          <img src="assets/loader.gif" height="60">
          <div class="p-styel">
            <p class="">Please Wait...</p>
          </div>
        </div>
      </div> -->

      <ul class="StepProgress">
        <li class="show-animation" >
          <div class="timeLineMsg right" style="margin-top: 0px;">
            <div class="content-hr"></div>
            <div class="content">
              <p>Hello!!<br>
                Welcome to DMI Finance</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="showMsg1">
          <div class="timeLineMsg right">
            <div class="stepper-hr1"></div>
            <div class="content">
              <!-- <p>Your  loan is just a cup of coffee ahead. Have a cup and let us start...</p> -->
              <p>DMI Finance offers flexible loan offers which you can avail in less than 5 minutes.</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="showMsg2">
          <div class="timeLineMsg right">
            <div class="stepper-hr1"></div>
            <div class="content">
              <p>Exciting!!<br>
                Let's get started with few basic information.</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="!isYes && showMsg3">
            <button class="yes-btn" (click)="onYes()">Okay</button>
        </li>
        <li class="show-animation"  *ngIf="isYes && showMsg4">
          <div class="timeLineMsg-right left yes-sec">
            <div class="stepper-hr-right1"></div>     
            <div class="alt-content">
              <div class="happy-sec">
                <p>Okay</p>
                <!-- <img src="assets/images/happy.png"> -->
              </div>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="isYes && showMsg5">
          <div class="timeLineMsg left-allign margin-top96">
            <img src="assets/images/like.png">
          </div>
        </li>
        <li class="show-animation"  *ngIf="isYes && showMsg6">
          <div class="timeLineMsg right left-content-top-margin">
            <div class="stepper-hr3"></div>
            <div class="content">
              <p>Please provide your full name</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="!isContinueWithUserName && isYes && showMsg7">
          <div class="custom-card">
              <mat-form-field class="width">
                <input matInput placeholder="Enter your full name" [(ngModel)]="userName">
              </mat-form-field>
              <div class="errorMsg">{{requiredMsg}}</div>
            <div class="card-btn">
              <button (click)="onContinue(1)" class="margin-top10">Continue</button>
            </div>
          </div>
        </li>
        <!-- <ng-container > -->
        <li class="show-animation"  *ngIf="isContinueWithUserName && showMsg8">
          <div class="timeLineMsg-right left">
            <div class="stepper-hr-right4"></div> 
            <div class="alt-content">
              <div class="happy-sec">
                <img src="assets/images/user.png" class="user-icons-height"><p>{{userName}}</p>
              </div>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="isContinueWithUserName && showMsg9">
          <div class="timeLineMsg right margin-top96">
            <div class="stepper-hr3"></div>
            <div class="content">
              <p>Hello {{userName}}</p>
            </div>
          </div>
        </li>

        <li class="show-animation"  *ngIf="isContinueWithUserName && showMsg10">
          <div class="timeLineMsg right left-content-top-margin">
            <div class="stepper-hr1"></div>
            <div class="content">
              <p>Wonderful!<br>Please provide your mobile number</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="!afterVerifedOTP && isContinueWithUserName && showMsg11">
          <div class="custom-card">
              <mat-form-field class="width">
                <input matInput placeholder="Enter your mobile number" [(ngModel)]="mobileNumber" maxlength="10">
              </mat-form-field>
            <div class="card-btn">
              <button (click)="onContinue(2)">Continue</button>
            </div>
            <p class="otp-font" *ngIf="otpOption">An OTP has been send to your mobile number. Please verify input area to enter OTP</p>
            <div class="otp-section" *ngIf="otpOption">
              <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
              <a (click)="resendOTP()" style="cursor: pointer;">Resend</a>
            </div>
          </div>
        </li>
        <!-- <ng-container > -->
          <li class="show-animation"  *ngIf="afterVerifedOTP && showMsg12">
            <div class="timeLineMsg-right left contact-sec">
              <div class="stepper-hr-right3"></div>     
              <div class="alt-content">
                <div class="happy-sec">
                  <p>{{mobileNumber}}</p><img src="assets/images/verify.png">
                </div>
              </div>
            </div>
          </li>
        <li class="show-animation"  *ngIf="afterVerifedOTP && showMsg13">
          <div class="timeLineMsg right margin-top96">
            <div class="stepper-hr2"></div>
            <div class="content">
              <p>Thank you for verifying your mobile number.</p>
            </div>
          </div>
        </li>

        <li class="show-animation"  *ngIf="afterVerifedOTP && showMsg14">
          <div class="timeLineMsg right">
            <div class="stepper-hr2"></div>
            <div class="content">
              <p>How much money are you looking forward for?</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="!isSelectLoanAmt && afterVerifedOTP && showMsg15">
          <div class="custom-slider-card">
            <div class="custom-slider" style="width:92%;">
              <!-- <ng5-slider [(value)]="value1" [(highValue)]="maxValue" [options]="options1"></ng5-slider>  -->
              <ng5-slider [(value)]="value1"  [options]="options1"></ng5-slider>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="!isSelectLoanAmt && afterVerifedOTP && showMsg16">
          <button class="yes-btn" (click)="onSelectLoanAmount()">Okay</button>
      </li>
        <li class="show-animation"  *ngIf="isSelectLoanAmt && showMsg17">
          <div class="timeLineMsg-right left amt-sec">
            <div class="stepper-hr-right3"></div> 
            <div class="alt-content">
              <div class="happy-sec">
                <img src="assets/images/loan.png"> <p>INR {{value1}}</p>
                <!-- <img src="assets/images/happy.png"> -->
              </div>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="isSelectLoanAmt && showMsg18">
          <div class="timeLineMsg left-allign margin-top96">
            <img src="assets/images/satisfaction.png">
          </div>
        </li>

        <li class="show-animation"  *ngIf="isSelectLoanAmt && showMsg19">
          <div class="timeLineMsg right left-content-top-margin">
            <div class="stepper-hr1"></div>
            <div class="content">
              <p>Please provide your employment type</p>
            </div>
          </div>
        </li>
        <li class="show-animation"  *ngIf="isSelectLoanAmt && showMsg20 && !isEmpTypeSubmitted">
          <div class="custom-card">
            <mat-form-field appearance="fill" class="width">
              <mat-label>Employment Type</mat-label>
              <mat-select [(ngModel)]="emp_Type">
                <mat-option *ngFor="let emp of empType" [value]="emp.value">
                  {{emp.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="card-btn">
              <button (click)="onEmpTypeSubmit()">Continue</button>
            </div>
          </div>
        </li>

        <li class="show-animation"  *ngIf="isEmpTypeSubmitted && showMsg21">
          <div class="timeLineMsg-right left contact-sec">
            <div class="stepper-hr-right3"></div>     
            <div class="alt-content">
              <div class="happy-sec">
                <p>{{emp_Type}}</p>
              </div>
            </div>
          </div>
        </li>
      <li class="show-animation"  *ngIf="isEmpTypeSubmitted && showMsg22">
        <div class="timeLineMsg right margin-top96">
          <div class="stepper-hr2"></div>
          <div class="content">
            <p>Thank you for providing your employment type.</p>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isEmpTypeSubmitted && showMsg23">
        <div class="timeLineMsg right">
          <div class="stepper-hr3"></div>
          <div class="content">
            <p>What is your average monthly income ?</p>
          </div>
        </div>
      </li>
      <li class="show-animation"  *ngIf="isEmpTypeSubmitted && showMsg24 && !isSelectIncomeAmt">
        <div class="custom-slider-card">
          <div class="custom-slider" style="width:92%;">
            <!-- <ng5-slider [(value)]="value2" [(highValue)]="maxValue" [options]="options2"></ng5-slider> -->
          <ng5-slider [(value)]="value2"  [options]="options2"></ng5-slider>
          </div>
        </div>
      </li>
      <li class="show-animation"  *ngIf="!isSelectIncomeAmt && afterVerifedOTP && showMsg25">
        <button class="yes-btn" (click)="onSelectIncomeAmount()">Okay</button>
      </li>

      <li class="show-animation"  *ngIf="isSelectIncomeAmt && showMsg26">
        <div class="timeLineMsg-right left amt-sec">
          <div class="stepper-hr-right3"></div> 
          <div class="alt-content">
            <div class="happy-sec">
              <img src="assets/images/loan.png"> <p>INR {{value2}}</p>
              <!-- <img src="assets/images/happy.png"> -->
            </div>
          </div>
        </div>
      </li>
      <li class="show-animation"  *ngIf="isSelectIncomeAmt && showMsg27">
        <div class="timeLineMsg left-allign margin-top96">
          <img src="assets/images/satisfaction.png">
        </div>
      </li>


      <li class="show-animation"  *ngIf="isSelectIncomeAmt && showMsg28">
        <div class="timeLineMsg right left-content-top-margin">
          <div class="stepper-hr2"></div>
          <div class="content">
            <p>Please provide your PAN.</p>
          </div>
        </div>
      </li>
      <li class="show-animation"  *ngIf="isSelectIncomeAmt && showMsg29 && !isPANsubmit">
        <div class="custom-card">
            <mat-form-field class="width">
              <input matInput placeholder="Enter your PAN Number" [(ngModel)]="userPan">
            </mat-form-field>
            <!-- <div class="errorMsg">{{requiredMsg}}</div> -->
          <div class="card-btn">
            <button (click)="onPanSubmit()" class="margin-top10">Continue</button>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isPANsubmit && showMsg30">
        <div class="timeLineMsg-right left kyc_pan_section">
          <div class="stepper-hr-right4"></div>     
          <div class="alt-content">
            <div class="happy-sec">
              <p>{{userPan}}</p><img src="assets/images/verify.png">
            </div>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isPANsubmit && showMsg31">
        <div class="timeLineMsg right margin-top96">
          <div class="stepper-hr2"></div>
          <div class="content">
            <p>Thank you for verifying your PAN number.</p>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isPANsubmit && showMsg32">
        <div class="timeLineMsg right">
          <div class="stepper-hr2"></div>
          <div class="content">
            <p>Whoosh!! You have done the excellent job.</p>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isPANsubmit && showMsg33">
        <div class="timeLineMsg right left-content-top-margin">
          <div class="stepper-hr2"></div>
          <div class="content">
            <p>Please provide your email address.</p>
          </div>
        </div>
      </li>
      <li class="show-animation"  *ngIf="isPANsubmit && showMsg34 && !isEmailVerified">
        <div class="custom-card">
            <mat-form-field class="width">
              <input matInput placeholder="Enter your email address" [(ngModel)]="userEmail">
            </mat-form-field>
            <!-- <div class="errorMsg">{{requiredMsg}}</div> -->
          <div class="card-btn">
            <button (click)="onSubmitEmail()" class="margin-top10">Continue</button>
          </div>
        </div>
      </li>

      <li class="show-animation" *ngIf="isEmailVerified && showMsg35">
        <div class="timeLineMsg-right left kyc_pan_section">
          <div class="stepper-hr-right4"></div> 
          <div class="alt-content">
            <div class="happy-sec">
              <p>{{userEmail}}</p>
            </div>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isEmailVerified && showMsg36">
        <div class="timeLineMsg right margin-top96">
          <div class="stepper-hr2"></div>
          <div class="content">
            <p>Thank you for verifying your email address.</p>
          </div>
        </div>
      </li>

      <li class="show-animation"  *ngIf="isEmailVerified && showMsg37">
        <div class="timeLineMsg right">
          <div class="stepper-hr3"></div>
          <div class="content">
            <p>Please complete your KYC.</p>
          </div>
        </div>
      </li>
      <li class="show-animation"  *ngIf="isEmailVerified && showMsg102">
        <button (click)="kycModal(1)">Proceed</button>
    </li>

    <li class="show-animation  margin-top15" *ngIf="isKYCSuccess && showMsg103">
      <div class="timeLineMsg-right left kyc-sec">
        <div class="stepper-hr-right1"></div> 
        <div class="alt-content">
          <div class="happy-sec">
            <p>KYC</p><img src="assets/images/verify.png">
          </div>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isKYCSuccess && showMsg40">
      <div class="timeLineMsg right margin-top96">
        <div class="stepper-hr2"></div>
        <div class="content">
          <p>Thank you for completing your KYC.</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isKYCSuccess && showMsg41">
      <div class="timeLineMsg right">
        <div class="stepper-hr2"></div>
        <div class="content">
          <p>Please update your Communication Details -</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isKYCSuccess && showMsg42 && !isSubmittedComm">
      <div class="custom-card">
          <h4>Communication Details</h4>
          
          <form [formGroup]="residenceForm" (ngSubmit)="onSubmitComAddressInfo()">
            <mat-form-field class="width">
              <input matInput placeholder="Father / Spouse Name" formControlName="fatherSpouseName">
            </mat-form-field>
            <mat-form-field appearance="fill" class="width">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender" [ngClass]="{ 'is-invalid': personalInfoValidation && userDetailForm.controls.gender.errors }" required>
                <mat-option *ngFor="let gender of genderTypes" [value]="gender.value">{{gender.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Date of Birth (dd-mm-yyyy)</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob" [ngClass]="{ 'is-invalid': personalInfoValidation && userDetailForm.controls.dob.errors }" (click)="picker.open()" required readonly>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            
            <!-- <h5 class="formTitle">Residential Address</h5> -->
            <mat-form-field appearance="fill" class="width">
              <mat-label>Address Type</mat-label>
              <mat-select formControlName="address_type">
                <mat-option *ngFor="let resType of addressType" [value]="resType.value">
                  {{resType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="width">
              <input matInput placeholder="Time At Current Residence (Months)" formControlName="residence_time">
            </mat-form-field>

            <mat-form-field appearance="fill" class="width margin-top15">
              <mat-label>Ownership Type</mat-label>
              <mat-select formControlName="ownership_type">
                <mat-option *ngFor="let resType of residenceType" [value]="resType.value">
                  {{resType.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="width">
              <input matInput placeholder="Flat / Building Details" formControlName="flat_details">
            </mat-form-field>

            <!-- <mat-form-field class="width">
              <input matInput placeholder="Area / Street" formControlName="area_details">
            </mat-form-field> -->

            <!-- <mat-form-field class="width">
              <input matInput placeholder="Landmark" formControlName="landmark">
            </mat-form-field> -->

            <mat-form-field class="width">
              <input matInput placeholder="Postal Code" formControlName="postal_code">
            </mat-form-field>
            
            <mat-form-field class="width">
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>

            <mat-form-field class="width">
              <input matInput placeholder="State" formControlName="state">
            </mat-form-field>

            <!-- <mat-form-field class="width">
              <input matInput placeholder="County" formControlName="country">
            </mat-form-field> -->

            <h5 class="formTitle">Communication Address</h5>

            <mat-checkbox class="example-margin" [checked]="isCheckedSameAddress" 
            (change)="onSameAddressChecked($event)">Same as Residential Address</mat-checkbox>

            <ng-container *ngIf="!isNotSameAddress">

              <mat-form-field appearance="fill" class="width">
                <mat-label>Address Type</mat-label>
                <mat-select formControlName="communi_address_type">
                  <mat-option *ngFor="let resType of addressType" [value]="resType.value">
                    {{resType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill" class="width margin-top15">
                <mat-label>Ownership Type</mat-label>
                <mat-select formControlName="communi_ownership_type">
                  <mat-option *ngFor="let resType of residenceType" [value]="resType.value">
                    {{resType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Flat / Building Details" formControlName="communi_flat_details">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Area / Street" formControlName="communi_area">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Landmark" formControlName="communi_landmark">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Postal Code" formControlName="communi_postal">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="City" formControlName="communi_city">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="State" formControlName="communi_state">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="County" formControlName="communi_country">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Time At Current Residence" formControlName="communi_time">
              </mat-form-field>
            </ng-container>

            <div class="card-btn checkbox-btn">
              <button class="margin-top15">Submit</button>
            </div>
          </form>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isSubmittedComm && showMsg43">
      <div class="card-right">
      <div class="custom-card right-custom-card">
        <h4>Communication Details</h4>
        <div class="flex-checkbox main">
            <span>Father / Spouse Name</span><img src="assets/images/greenChecked.png">
        </div>
        <div class="flex-checkbox main">
            <span>Gender</span><img src="assets/images/greenChecked.png">
        </div>
        <div class="flex-checkbox main">
            <span>Date of Birth</span><img src="assets/images/greenChecked.png">
        </div>
        <div class="flex-checkbox">
          <span>Address</span><img src="assets/images/greenChecked.png">
        </div>
        <div class="card-btn checkbox-btn">
          <button (click)="onFillComAddressInfo()">Update Details</button>
        </div>
      </div>
    </div>
    </li>

    <li class="show-animation"  *ngIf="isSubmittedComm && showMsg44">
      <div class="timeLineMsg right">
        <div class="stepper-hr2"></div>
        <div class="content">
          <p>Whoosh!! You have done the excellent job.</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isSubmittedComm && showMsg45">
      <div class="timeLineMsg right">
        <div class="stepper-hr2"></div>
        <div class="content">
          <p>Please provide your Banking Information.</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isSubmittedComm && showMsg38 && !showBankingForm">
      <button (click)="kycModal(2)">Proceed with Account Aggregator</button>
    </li>

    <li class="show-animation"  *ngIf="isSubmittedComm && showMsg39 && !showBankingForm">
      <button (click)="showBankingForm = !showBankingForm" style="margin-top: 12px;">Fill Details</button>
    </li>

    <!-- <li class="show-animation"  *ngIf="showBankingForm && showMsg44">
      <div class="custom-card">
          <h4>Personal Information</h4>
          <form [formGroup]="bankingDetailForm" (ngSubmit)="onSubmitBankingDetails()">
            <mat-form-field class="width">
              <input matInput placeholder="Bank Name" formControlName="Bank_Name" required>
            </mat-form-field>
    
            <mat-form-field class="width">
              <input matInput placeholder="Account Holder Name" formControlName="Account_Holder_Name" required>
            </mat-form-field>
    
            <mat-form-field class="width">
              <input matInput placeholder="Account Number" formControlName="Account_Number" required>
            </mat-form-field>
    
            <mat-form-field class="width">
              <input matInput placeholder="IFSC Code" formControlName="IFSC_Code" required>
            </mat-form-field>
    
            <div class="card-btn checkbox-btn">
              <button class="margin-top15">Submit</button>
            </div>
          </form>
      </div>
    </li> -->

    <li class="show-animation"  *ngIf="showBankingForm && showMsg44">
        <div class="card-right">
        <div class="custom-card right-custom-card">
          <h4>Banking Details</h4>
          <div class="flex-checkbox main">
              <span>Bank Name</span><img src="assets/images/greenChecked.png">
          </div>
          <div class="flex-checkbox main">
              <span>Bank Holder Name</span><img src="assets/images/greenChecked.png">
          </div>
          <div class="flex-checkbox main">
              <span>Account Number</span><img src="assets/images/greenChecked.png">
          </div>
          <div class="flex-checkbox">
            <span>IFSC Code</span><img src="assets/images/greenChecked.png">
          </div>
          <div class="card-btn checkbox-btn">
            <button (click)="onFillComAddressInfo()">Update Details</button>
          </div>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="showBankingForm && showMsg100">
      <div class="timeLineMsg right">
        <div class="stepper-hr2"></div>
        <div class="content">
          <p>Please provide your Employement Details.</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="showBankingForm && showMsg101 && !emp_details">
        <div class="custom-card">
            <h4>Employment Information</h4>
            <form [formGroup]="professionForm" (ngSubmit)="onSubmitEmpInfo()">

              <mat-form-field class="width">
                <input matInput placeholder="Work Experience (Months)" formControlName="work_exp">
              </mat-form-field>

              <h5 class="formTitle">Office Address</h5>

              <mat-form-field appearance="fill" class="width">
                <!-- <mat-label>Address Type</mat-label> -->
                <mat-select formControlName="address_type">
                  <mat-option *ngFor="let resType of addressType" [value]="resType.value">
                    {{resType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Company Name" formControlName="company_name">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="Flat / Building Details" formControlName="flat_details">
              </mat-form-field>

              <!-- <mat-form-field class="width">
                <input matInput placeholder="Area / Street" formControlName="area_details">
              </mat-form-field> -->

              <!-- <mat-form-field class="width">
                <input matInput placeholder="Landmark" formControlName="landmark">
              </mat-form-field> -->

              <mat-form-field class="width">
                <input matInput placeholder="Postal Code" formControlName="postal_code">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="City" formControlName="city">
              </mat-form-field>

              <mat-form-field class="width">
                <input matInput placeholder="State" formControlName="state">
              </mat-form-field>

              <!-- <mat-form-field class="width">
                <input matInput placeholder="County" formControlName="country">
              </mat-form-field> -->

              <div class="card-btn checkbox-btn">
                <button>Submit</button>
              </div>
            </form>
        </div>
      </li>

      <li class="show-animation"  *ngIf="emp_details && showMsg66">
          <div class="card-right">
          <div class="custom-card right-custom-card">
            <h4>Employement Details</h4>
            <div class="flex-checkbox main">
                <span>Company Name</span><img src="assets/images/greenChecked.png">
            </div>
            <div class="flex-checkbox main">
                <span>Company Address</span><img src="assets/images/greenChecked.png">
            </div>
            <div class="flex-checkbox main">
                <span>Work Experience</span><img src="assets/images/greenChecked.png">
            </div>
            <div class="card-btn checkbox-btn">
              <button>Update Details</button>
            </div>
          </div>
        </div>
      </li>
      <li class="show-animation" *ngIf="emp_details && showMsg67 && !isLoanOfferCheck">
        <div class="timeLineMsg right">
          <div class="stepper-hr1"></div>
          <div class="content">
            <p class="">Please allow us a moment to find the right loan offers for you.<br><br>
              <img src="assets/loader.gif" height="60">
              <br><br>Please Wait...</p>
          </div>
        </div>
      </li>
    
      <!-- <li class="show-animation"  *ngIf="emp_details && showMsg68 && !isLoanOfferCheck">
        <button class="yes-btn" (click)="onCheckLoanOffer()">Okay</button>
    </li> -->
    
    <!-- <li class="show-animation"  *ngIf="isLoanOfferCheck && showMsg47">
      <div class="timeLineMsg-right left yes-sec">
        <div class="stepper-hr-right1"></div>     
        <div class="alt-content">
          <div class="happy-sec">
            <p>Okay</p>
          </div>
        </div>
      </div>
    </li> -->
    
    <li class="show-animation"  *ngIf="isLoanOfferCheck && showMsg51 && !isloanOffersSubmitted">
      <div class="custom-slider-card">
        <h6 class="loan_offer_amt">Loan Amount</h6>
        <div class="custom-slider" style="width:92%;">
        <ng5-slider [(value)]="value3"  [options]="options3"></ng5-slider>

          <!-- <ng5-slider [(value)]="value3" [(highValue)]="maxValue" [options]="options3"></ng5-slider> -->
        </div>
        <mat-form-field appearance="fill" class="width margin-top15">
          <mat-label>Loan Tenor</mat-label>
          <mat-select [(ngModel)]="selectedLoanTenor">
            <mat-option *ngFor="let tenure of loanTenure" [value]="tenure">{{tenure}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="interest-display-flex">
          Rate of Interest: <span class="interest_sec">{{rateOfInt}}%</span>
        </div>
        <div class="card-btn checkbox-btn">
            <button class="margin-top15" (click)="loanOfferSubmit()" style="margin-bottom: 12px;">Submit</button>
          </div>
        <!-- <div class="interest-display-flex">
          Approx EMI*: <span class="interest_sec">INR 2,895.00</span>
        </div> -->
      </div>
    </li>

    <li class="show-animation"  *ngIf="isloanOffersSubmitted && showMsg63">
      <div class="timeLineMsg-right left amt-sec" style="margin-bottom: -10px;">
        <div class="stepper-hr-right3"></div> 
        <div class="alt-content">
          <div class="happy-sec">
            <img src="assets/images/loan.png"> <p>INR {{value3}}</p>
            <!-- <img src="assets/images/happy.png"> -->
          </div>
        </div>
      </div>
    </li>

      <li class="show-animation"  *ngIf="isloanOffersSubmitted && showMsg64" style="margin-bottom: 200px;">
        <div class="timeLineMsg-right left" style="width: 56%;">
          <div class="stepper-hr-right4"></div> 
          <div class="alt-content">
            <div class="happy-sec">
              <p>Approx EMI : {{approxEMI}}</p>
            </div>
          </div>
        </div>
      </li>

    <!-- <li class="show-animation"  *ngIf="isloanOffersSubmitted && showMsg65">
      <div class="timeLineMsg left-allign margin-top96">
        <img src="assets/images/satisfaction.png">
      </div>
    </li> -->

    <li class="show-animation" *ngIf="isloanOffersSubmitted && showMsg65">
      <div class="timeLineMsg left-allign margin-top96">
        <img src="assets/images/rocket.png" height="85">
      </div>
    </li>
    
    <li class="show-animation"  *ngIf="isloanOffersSubmitted && showMsg52">
      <div class="timeLineMsg right">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>For easy disbursement and repayment please register for E-mandate</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isloanOffersSubmitted && showMsg53 && !isEMandateCompleted">
      <button (click)="kycModal(3)">Proceed for E-mandate</button>
    </li>
    
    <li class="show-animation"  *ngIf="isEMandateCompleted && showMsg54">
      <div class="timeLineMsg-right left">
        <div class="stepper-hr-right4"></div> 
        <div class="alt-content">
          <div class="happy-sec">
            <p>E-mandate</p><img src="assets/images/verify.png" style="margin-left: 10px;height: 22px;">
          </div>
        </div>
      </div>
    </li>
    
    <li class="show-animation"  *ngIf="isEMandateCompleted && showMsg55">
      <div class="timeLineMsg right margin-top96">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>Please review the Loan Details Sheet and accept Terms and Conditions.</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isEMandateCompleted && showMsg56 && !isLDSCompleted">
      <button (click)="kycModal(4)">Proceed</button>
    </li>

    <li class="show-animation"  *ngIf="isLDSCompleted && showMsg57">
      <div class="timeLineMsg-right left">
        <div class="stepper-hr-right4"></div> 
        <div class="alt-content">
          <div class="happy-sec">
            <p>T&C and LDS Accepted</p><img src="assets/images/verify.png" style="margin-left: 10px;height: 22px;">
          </div>
        </div>
      </div>
    </li>
    
    <li class="show-animation"  *ngIf="isLDSCompleted && showMsg58">
      <div class="timeLineMsg right margin-top96">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>Great!! You are only one more step away from Loan completion.</p>
        </div>
      </div>
    </li>
    <!-- <li class="show-animation"  *ngIf="isLDSCompleted && showMsg59">
      <div class="timeLineMsg right">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>Please allow us a moment to complete the loan creation journey.</p>
        </div>
      </div>
    </li> -->

    <li class="show-animation" *ngIf="isLDSCompleted && showMsg59 && !isLoanJourneyCompleted">
      <div class="timeLineMsg right">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p class="">Please allow us a moment to complete the loan creation journey.<br><br>
            <img src="assets/loader.gif" height="60">
            <br><br>Please Wait...</p>
        </div>
      </div>
    </li>


    <!-- <li class="show-animation"  *ngIf="isLDSCompleted && showMsg60 && !isLoanJourneyCompleted">
      <button class="yes-btn" (click)="onLoanCReationJourney()">Okay</button>
    </li> -->
    
    <!-- <li class="show-animation"  *ngIf="isLoanJourneyCompleted && showMsg61">
      <div class="timeLineMsg-right left yes-sec">
        <div class="stepper-hr-right1"></div>     
        <div class="alt-content">
          <div class="happy-sec">
            <p>Okay</p>
          </div>
        </div>
      </div>
    </li> -->

    <li class="show-animation" *ngIf="isLoanJourneyCompleted && showMsg61">
      <div class="timeLineMsg left-allign margin-top30">
        <img src="assets/images/congratulations.png" height="85">
      </div>
    </li>

    <li class="show-animation" *ngIf="isLoanJourneyCompleted && showMsg62">
      <div class="timeLineMsg right margin-top96">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>Congratulations !!<br><br> Your new loan number is: <strong>{{loanNumber}}</strong>.</p>
        </div>
      </div>
    </li>

    <li class="show-animation"  *ngIf="isLoanJourneyCompleted && showMsg104">
      <div class="timeLineMsg right left-content-top-margin">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>The loan amount of <strong>INR {{value3}}</strong> will be transferred to your <strong>{{userDetails.UserInfo[0].Bank_Name}} A/c {{userDetails.UserInfo[0].Account_Number}}</strong> shortly.</p>
        </div>
      </div>
    </li>

    <li class="show-animation" *ngIf="isLoanJourneyCompleted && showMsg105">
      <div class="timeLineMsg right left-content-top-margin">
        <div class="stepper-hr1"></div>
        <div class="content">
          <p>Please feel free to reach our Toll Free number 1800-747-747 for any queries or visit our website : <a href="https://dmifinance.in">https://dmifinance.in</a></p>
        </div>
      </div>
    </li>
      </ul>
    </div>
  </div>
</div>